# Local Environment Configurations (Secrets)
.env

# Telethon/Telegram Session Security Tokens
*.session
*.session-journal

# Python Virtual Environment
venv/
ENV/
.venv/
__pycache__/
*.pyc

# Local IDEs
.vscode/
.idea/

# Large Local Datasets (Data Lake Content)
data/